/* GLOBAL STYLES */

:root {
    --header-highlight-color: #0a5829;
    --header-text-color: white;
    --work-items-highlight-color: rgb(151, 5, 5);
    --left-column-highlight-color: rgb(12, 20, 171);
    --work-items-inner-border: 1px;
    --work-items-inner-relative: -1px;
    --work-items-inner-color: white;
    --header-background-color: red;
    --left-flex: 0 0 175px;
    --work-1-img: url(../images/work-1.png);
    --work-2-img: url(../images/work-2.png);
    --work-3-img: url(../images/map.png);
    --work-4-img: url(../images/dragging.png);
    --work-5-img: url();
    --work-6-img: url();
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    box-sizing: border-box;
}

h1 {
    font-size: 200%;
    text-align: right;
}

h2 {
    font-size: 175%;
    text-align: right;
    line-height: 1;
}


/* ANIMATION KEYFRAMES */

@keyframes header-name {
    from { opacity: 0; top: -100px; }
    to { opacity: 1; top: 0; }
}

@keyframes header-image {
    from { opacity: 0; left: -500px; }
    to { opacity: 1; left: 25px; }
}

@keyframes section-from-right {
    from { left: 3000px; }
    to { left: 0; }
}

@keyframes section-from-left {
    from {left: -3000px; }
    to { left: 0; }
}

@keyframes hover-grow {
    from { border-bottom-width: 2px; }
    to { border-bottom-width: 31px; }
}

@keyframes hover-shrink {
    from { border-bottom-width: 31px; }
    to { border-bottom-width: 2px; }
}

@keyframes header-font-fade-in {
    from { color: white; }
    to { color: black; }
}

@keyframes header-font-fade-back {
    from { color: black; }
    to { color: white; }
}

@keyframes footer-font-fade-in {
    from { color: var(--left-column-highlight-color); }
    to { color: white; }
}

@keyframes footer-font-fade-back {
    from { color: white; }
    to { color: var(--left-column-highlight-color); }
}


/* HEADER STYLES */

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 15px;
    /* background-color: var(--header-background-color); */
    background: linear-gradient(0deg,var(--work-items-highlight-color) 40%,white 100%);
    width: 100%;
    z-index: 10;
}

footer {
    padding-bottom: 50px;
}

header h1 {
    color: var(--header-text-color);
    padding-right: 20px;
    padding-left: 150px;
    position: relative;
    animation-name: header-name;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

header h1 img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -15px;
    left: -500px;
    border: 1px solid black;
    animation-delay: s;
    animation-name: header-image;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

header a,
footer a {
    color: var(--left-column-highlight-color);
    text-decoration: none;
    font-weight: normal;
}

header a {
    color: var(--header-text-color);
}

footer li a {
    line-height: 48px;
    animation: footer-font-fade-back;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

footer li:hover a {
    animation: footer-font-fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

nav {
    position: relative;
    top: 2px;
    animation: section-from-right;
    animation-duration: 2s;
}

nav menu {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav menu a {
    line-height: 45px;
    animation: header-font-fade-back;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

nav menu li,
footer li {
    font-size: 90%;
    font-stretch: expanded;
    height: 44px;
    padding: 5px 8px;
    border-bottom: 2px solid var(--left-column-highlight-color);
    margin-right: 20px;
    animation: hover-shrink;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

nav menu li:hover,
footer li:hover {
    animation: hover-grow;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

nav menu li:hover a {
    animation: header-font-fade-in;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

nav menu li {
    border-bottom-color: var(--header-text-color);
}

/* SECTION STYLES */

section,
footer {
    display: flex;
    position: relative;
    justify-content: stretch;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 900px;
}

section h2,
footer h2 {
    padding: 15px;
    flex: var(--left-flex);
    background-color: var(--left-column-highlight-color);
    color: white;
    position: relative;
    left: -500px;
    top: 10px;
    animation: section-from-left;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

footer h2 {
    top: 5px;
    font-size: 120%;
}

section p,
section ul,
footer ul {
    position: relative;
    border-left: 4px solid var(--left-column-highlight-color);
    padding-left: 18px;
    margin: 0;
    padding-bottom: 60px;
 }

section > ul,
section > p,
footer > ul {
    left: 4000px;
    animation: section-from-right;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

footer ul {
    padding-top: 16px;
    padding-bottom: 50px;
    justify-content: space-between;
    width: 100%;
}

section ul,
footer ul {
    position: relative;
    list-style-type: none;
    display: flex;
 }

footer a {
    text-decoration: none;
}

/* WORK LINK STYLES */

section#work ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;    
}
    
section#work a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border: var(--work-items-inner-border) solid var(--work-items-inner-color);
    text-decoration: none;
}

ul#work-items li {
    width: 49%;
    height: 150px;
    margin: 7px 0;
    border: 7px solid var(--work-items-highlight-color);
    opacity: .8;
}

ul#work-items li:hover {
    box-shadow: 0 0 10px 4px var(--left-column-highlight-color);
    opacity: 1;
    border-color: var(--left-column-highlight-color);
}

ul#work-items li:hover p {
    background-color: var(--left-column-highlight-color);
}

ul#work-items li:first-of-type {
    width: 100%;
    height: 250px;
}

ul#work-items h3 {
    margin-bottom: 0;
}

ul#work-items p {
    background-color: var(--work-items-highlight-color);
    border: var(--work-items-inner-border) solid var(--work-items-inner-color);
    border-left: none;
    position: relative;
    left: var(--work-items-inner-relative);
    top: -15px;
    color: white;
    font-size: 80%;
    padding: 8px 15px 8px 12px;
}

ul#work-items p strong {
    display: block;
    font-size: 120%;
}

#work-items a#work-1 {
    background-image: var(--work-1-img);
    background-size: 100%;
    background-position: 0 -12px;
}

#work-items a#work-2 {
    background-image: var(--work-2-img);
    background-size: 200%;
}

#work-items a#work-3 {
    background-image: var(--work-3-img);
    background-size: 200%;
}

#work-items a#work-4 {
    background-image: var(--work-4-img);
    background-size: 200%;
}

#work-items a#work-5 {
    background-image: var(--work-5-img);
    background-size: 200%;
}




/* MEDIA QUERIES */

@media screen and ( max-width: 950px ) {

    header h1,
    header h1 img,
    header nav {
        animation: none;
        left: 0;
    }

    header h1 img {
        left: 25px;
    }

    header nav li,
    header nav li:hover,
    footer li,
    footer li:hover,
    header nav li a,
    header nav li:hover a,
    footer li a,
    footer li:hover a {
        animation: none;
    }

    header nav li,
    footer li {
        padding: 5px 0;
    }
    
    section,
    footer {
        flex-direction: column;
        align-items: center;
    }

    section h2,
    footer h2 {
        flex: 0 0 auto;
        width: 80%;
        text-align: center;
        background-color: transparent;
        color: var(--left-column-highlight-color);
        animation: none;
        left: 0;
        border-bottom: 2px solid var(--left-column-highlight-color);
        padding-top: 0;
    }

    footer h2 {
        font-size: 175%;
        margin-bottom: 0;
    }

    section p,
    section ul,
    footer ul {
        animation: none;
        left: 0;
        border-left-width: 0px;
        padding-left: 0;
        padding-bottom: 0;
    }

    section#work ul,
    footer ul
    {
        width: 80%;
        margin: 0 auto;
    }

    section#about-me p {
        border-left-width: 0px;
        margin: 0 auto;
        width: 80%;
    }

    ul#work-items li {
        opacity: 1;
    }
    
    ul#work-items li:hover {
        box-shadow: none;
        border-color: var(--work-items-highlight-color);
    }

    ul#work-items li:hover p {
        background-color: var(--work-items-highlight-color);
    }
    
}

@media screen and (max-width: 635px) {

    * {
        font-size: 15px;
    }
        
    ul#work-items li {
        width: 100%;
        height: 175px;
    }

    ul#work-items li:first-of-type {
        height: 175px;
    }

    header h1 img {
        width: 80px;
        height: 80px;
        top: -20px;
    }

    header h1  {
        padding-left: 120px;
        margin-top: 15px;
        text-align: left;
        font-size: 200%;
        line-height: 100%;
    }

    header {
        height: 80px;
        background: linear-gradient(0deg,var(--work-items-highlight-color) 50%,white 100%);

    }

    header nav {
        top: -25px;
    }

    section h2 {
        font-size: 150%;
        padding-bottom: 8px;
    }

    section#about-me h2 {
        margin-top: 0;
    }

    header nav menu {
        flex-direction: column;
        margin-right: 25px;
    }

    header nav menu li {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 17px;
    }

    header nav menu a::before {
        font-family: 'Font Awesome 6 Free';
        color: white;
        font-weight: 900;
        content: "\f101";
        padding-right: 5px;
    }

    footer ul {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0;
    }

}